- name: php install
  hosts: all
  become: yes
  tasks:
    - name: require package
      apt:
        name:
          - software-properties-common
    - name: add ppa repository
      apt_repository:
        repo: ppa:ondrej/php
    - name: apt update
      apt:
        update_cache: yes
    - name: php package install
      apt:
        name:
          - php7.1
          - php7.1-cli
          - php7.1-mysql
          - php7.1-fpm
          - php7.1-mbstring
          - php7.1-xml
          - php7.1-json
          - php7.1-zip
          - php7.1-curl
    - name: php.ini copy
      copy: src=../files/php.ini dest=/etc/php/7.1/cli/php.ini owner=root group=root mode="u=rw,g=r,o=r"
    - name: php7.1-fpm restart
      service:
        name: php7.1-fpm
        state: restarted
    - name: check composer
      stat: path=/usr/local/bin/composer
      register: composer_bin
      tags: composer
    - block:
      - name: download composer
        shell: php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
      - name: verify installer
        shell: php -r "if (hash_file('sha384', 'composer-setup.php') === 'a5c698ffe4b8e849a443b120cd5ba38043260d5c4023dbf93e1558871f1f07f58274fc6f4c93bcfd858c6bd0775cd8d1') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
      - name: install composer
        shell: php composer-setup.php --install-dir=/usr/local/bin --filename=composer
      - name: remove installer
        shell: php -r "unlink('composer-setup.php');"
      when: not composer_bin.stat.exists
      tags: composer
    - name: apache package install
      apt:
        name:
          - apache2
          - libapache2-mod-php7.1
    - name: enable rewrite
      apache2_module:
        state: present
        name: rewrite
    - name: apach2.conf copy
      copy: src=../files/apache2/apache2.conf dest=/etc/apache2/apache2.conf owner=root group=root mode="u=rw,g=r,o=r"
    - name: default.conf copy
      copy: src=../files/apache2/000-default.conf dest=/etc/apache2/sites-available/000-default.conf owner=root group=root mode="u=rw,g=r,o=r"
    - name: apache2 restart
      service:
        name: apache2
        state: restarted
