- name: system
  hosts: all
  become: yes
  tasks:
    - name: aptitude
      apt:
        name:
          - aptitude
    - name: apt update
      apt:
        update_cache: yes
      ignore_errors: yes
    - name: apt upgrade
      apt:
        upgrade: yes
    - name: build-essential install
      apt:
        name:
          - build-essential
          - vim
          - xsel
          - xvfb
          - tmux
    - name: set vim default editor
      command: update-alternatives --set editor /usr/bin/vim.basic
    - name: config copy
      copy: src=../files/dotbash_profile dest=/home/vagrant/.bash_profile owner=vagrant group=vagrant mode="u=rw,g=r,o=r"
    - name: config copy
      copy: src=../files/resolved.conf dest=/etc/systemd/resolved.conf owner=root group=root mode="u=rw,g=r,o=r"
    - name: systemd-resolved restart
      service:
        name: systemd-resolved
        state: restarted
    - name: sysctl
      sysctl:
        name: fs.inotify.max_user_watches
        value: 524288
    - name: add ppa nvim
      apt_repository:
        repo: 'ppa:neovim-ppa/stable'
    - name: install neovim
      apt:
        name:
          - neovim
    - name: tpm git clone
      git:
        repo: https://github.com/tmux-plugins/tpm
        dest: /home/vagrant/.tmux/plugins/tpm
    - name: config copy
      copy: src=../files/dottmux.conf dest=/home/vagrant/.tmux.conf owner=vagrant group=vagrant mode="u=rw,g=r,o=r"
    - name: set timezone
      timezone:
        name: Asia/Tokyo
    - name: systemd-resolved restart
      service:
        name: systemd-timesyncd
        state: restarted
